/*
*
* @author Sandro Schutt
*/

/* Layout
--------------------------------------*/
html, body, #home {
	height:  100%;
	overflow-x: hidden;
}

body {
	background: url(../img/capa.png),
				url(../img/ruido.png),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: Helvetica,Aria,sans-serif;
}

/*
BARRA DE NAVEGAÇÃO
---------------------------*/
nav.navbar-transparente {
	background: rgba(0, 0, 0, 0.6);
	padding: 15px 0px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
	color: #9bf0e1;
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}


/*
CAPA
---------------------------*/
.capa {
	text-align: center;
}

a.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
	padding:  10px 20px;
	margin: 12px 7px;
}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {
	background: #6207e3;
	color: white;
}

a.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}



/*ESTRUTURA CONTEÚDOS
---------------------------*/
#servicos {
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.row.albuns {
	padding: 10px 0;
}

.rotacionar {
	/*border: 1px solid red;*/
	transform: rotate(30deg);
	-ms-transform:  rotate(30deg); /*IE 9*/
	-webkit-transform:  rotate(30deg); /*Chrome, Safari, Opera*/
	-moz-transform: rotate(30deg); /*FireFox*/
	padding-left: 80px;
}

/*RODAPÉ
---------------------------*/
footer {
	background: #000;
	padding: 50px 0 20px 0;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: .8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: .8em;	
}

footer .navbar-nav a:hover {
	text-decoration: none;	
	color: #9bf0e1;
}


footer ul {
	float: left;
	padding: 0;
	list-style: none;
}

footer ul li {
	margin: 0 5px;
}

footer ul li {
	float: right;
	margin: 0 5px;
}


/*
TIPOGRAFIA
---------------------------*/
h1.formataH1 {
	font-size: 3em;
	font-weight: 400;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2.servico-h2 {
	color: #7c25f8;
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3.servico-h3 {
	color: #7c25f8;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h2.recursos-h2 {
	color: #9bf0e1;
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3.recursos-h3 {
	color: white;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

.recursos-p {
	color: white;
	font-weight: 700;
	letter-spacing: -0.04em;
}


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/
@media (min-width: 575.98px) {
	h1.formataH1 {
		font-size: 2em;
	}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	h1.formataH1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	h1.formataH1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	h1.formataH1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1.formataH1 {
		font-size: 6em;
	}
}